#cont_map{
    width: 80%;
    margin: 20px auto;
    color: white;
    background-color: #080808;
    border-radius: 10px 10px 10px 10px;
}
#mapid {
    position: static;
    height: 400px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px 10px 10px 10px;
}
.leaflet-control-zoom {
    position: absolute;
    left: 99999%;
}